<section class="achat">
  <div class="page">

    <p class="titre">Prêt à débuter?</p>

    <p>Afin de débuter votre essai gratuit de 14 jours, il vous suffit d'appeler à ce numéro de téléphone et un de nos conseillers se fera un plaisir d'ouvrir votre compte client en direct!</p>

    <a href="tel:1.888.123.4567" class="bouton">Appelez 1.888.123.4567</a>

  </div>
</section>
