<footer class="pied-page">

  <div class="page">

    <p class="titre">Ce qu'ils en pensent?</p>

    <div class="temoignage">
      <p>"Ce produit a changé mon quotidien! 5 étoiles"</p>
      <p>- René, Longueil</p>
    </div>

    <div class="temoignage">
      <p>"Je ne peu plus me passer de uhwerguerhis!"</p>
      <p>- Josée, Longueil</p>
    </div>

    <p>&copy; uhwerguerhis - Tous droits réservés.</p>

  </div>

</footer>
