<header class="en-tete">
  <div class="page">

    <img src="../img/uhwerguerhis.png" alt="uhwerguerhis" class="logo">

    <p class="titre">uhwerguerhis</p>
    <p>Le logiciel qu'il vous faut! Notre application uhwerguerhis est parfaite pour les entrepreneurs comme vous qui souhaitent automatiser et améliorer la gestion de leur uhwerguerhis. Nous offrons trois forfaits abordables ainsi qu'un support inégalé.</p>

    <p>Bénéficiez dès maintenant d'un essai gratuit de 14 jours!</p>

  </div>
</header>
