<section class="prix">
  <div class="page">

    <p class="titre">Quels sont les coûts?</p>

    <div class="forfaits">
      <div class="forfait">
        <p class="nom">Forfait A</p>
        <p class="montant">10$</p>
      </div>

      <div class="forfait">
        <p class="nom">Forfait B</p>
        <p class="montant">15$</p>
      </div>

      <div class="forfait">
        <p class="nom">Forfait C</p>
        <p class="montant">20$</p>
      </div>
    </div>

  </div>
</section>
