@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial;
  color: #555;
}

.page {
  width: 1024px;
  margin: 0 auto;
}

.titre {
  padding: 0;
  margin: 0 0 1rem 0;
  font-size: 2.25rem;
  text-align: center;
}

.pied-page {
  padding: 3rem 0;
  background: #555;
  text-align: center;
  color: #fff;
}

.pied-page .temoignage {
  display: inline-block;
  width: 35%;
  margin: 1rem 2rem;
}

.en-tete {
  height: 15rem;
  padding: 3rem 0 0 0;
  background: #3498db;
  background-image: linear-gradient(to bottom right, #3498db 45%, #2676aa);
  color: #fff;
}

.en-tete .logo {
  float: left;
  height: 15rem;
  margin: 0 3rem 0 0;
}

.en-tete .titre {
  text-align: left;
}

.prix {
  padding: 3rem 0;
  background: #ecf0f1;
}

.prix .forfaits {
  display: flex;
  align-items: baseline;
}

.prix .forfaits .forfait {
  width: 50%;
  padding: 0.5rem 0;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.prix .forfaits .forfait:nth-of-type(1) {
  border-radius: 5px 0 0 5px;
}

.prix .forfaits .forfait:nth-of-type(2) {
  padding: 2rem 0;
  z-index: 5;
  border-radius: 5px;
}

.prix .forfaits .forfait:nth-of-type(3) {
  border-radius: 0 5px 5px 0;
}

.prix .forfaits .forfait p {
  padding: 0;
  margin: 0.5rem 0;
}

.prix .forfaits .forfait .nom {
  font-size: 1.25rem;
}

.prix .forfaits .forfait .montant {
  font-size: 2rem;
  color: #3498db;
}

.achat {
  padding: 3rem 0;
  text-align: center;
}

.achat .bouton {
  display: inline-block;
  padding: 1rem 2rem;
  background: #3498db;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: all 250ms;
}

.achat .bouton:hover {
  background: #2676aa;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
