html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial;
  color: $gris-fonce;
}

.page {
  width: 1024px;
  margin: 0 auto;
}

.titre {
  padding: 0;
  margin: 0 0 1rem 0;
  font-size: 2.25rem;
  text-align: center;
}
